        </div>
        
        <!-- Load Font Awesome Icons -->  
        <script src="/js/fontawesome.min.js"></script>

        <!-- Load App Script -->
        <% if (pageID == "home") { %>
        <script src="/js/flash-card-script.js"></script>
        <% } else if (pageID == "edit") { %>
        <script src="/js/edit-stack-script.js"></script>
        <% } %>
    </body>
</html>