        </div>
        
        <!-- Load Font Awesome Icons -->  
        <script src="/js/fontawesome.min.js"></script>

        <!-- Load App Script -->
        <script src="/js/script.js"></script>
    </body>
</html>