<%- include("partials/header") %>

<div id="toast-container"></div>

<div class="edit-stack-container">
  <div id="cardList">
    <!-- Cards will be dynamically added here -->
  </div>

  <div class="add-card-section">
    <button type="button" id="addCardBtn" class="add-card-btn">
      <i class="fa-solid fa-plus"></i> Add New Card
    </button>
  </div>
</div>

<%- include("partials/footer") %>